In [37]:
import numpy as np
import pandas as pd
from pathlib import Path

In [38]:
#import
train_df = pd.read_csv("..\\Resources/2016_train.csv")
test_df = pd.read_csv("..\\Resources/2018_test.csv")

In [39]:
train_df.head()

,Unnamed: 0,Unnamed: 0.1,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,108,108,2016,Albania,43.7,51.1,51.1,All,230.00,0.009610,2.210300
1,109,109,2016,Algeria,11.2,14.7,19.1,DZD,210.00,0.007330,1.539300
2,110,110,2016,Andorra,27.9,33.9,33.9,EUR,3.50,1.168889,4.091112
3,111,111,2016,Austria,28.5,30.7,30.7,EUR,5.00,1.168889,5.844445
4,112,112,2016,Belgium,23.8,25.5,25.5,EUR,6.32,1.168889,7.387378

In [40]:
#drop unnamed collumn
train_df = train_df.drop('Unnamed: 0', axis = 1)
train_df = train_df.drop('Unnamed: 0.1', axis = 1)
train_df.head()

,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,2016,Albania,43.7,51.1,51.1,All,230.00,0.009610,2.210300
1,2016,Algeria,11.2,14.7,19.1,DZD,210.00,0.007330,1.539300
2,2016,Andorra,27.9,33.9,33.9,EUR,3.50,1.168889,4.091112
3,2016,Austria,28.5,30.7,30.7,EUR,5.00,1.168889,5.844445
4,2016,Belgium,23.8,25.5,25.5,EUR,6.32,1.168889,7.387378

In [41]:
#Prepare for trainging data conversion
x_train = train_df.drop('CigaretteSmokingPrevalence', axis=1)
train_df["CigaretteSmokingPrevalence"].value_counts()

12.2    3
4.9     3
36.5    2
31.4    2
31.5    2
       ..
30.2    1
4.3     1
2.8     1
13.6    1
24.5    1
Name: CigaretteSmokingPrevalence, Length: 96, dtype: int64

In [42]:
test_df = test_df.drop('Unnamed: 0', axis = 1)
test_df = test_df.drop('Unnamed: 0.1', axis = 1)
test_df.head()

,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
3,2018,Austria,27.0,29.1,29.1,EUR,5.5,1.168889,6.428890
4,2018,Belgium,23.4,25.0,25.0,EUR,6.6,1.168889,7.714667

In [43]:
#Prepare for testing data conversion
x_test = test_df.drop('CigaretteSmokingPrevalence', axis=1)
test_df["CigaretteSmokingPrevalence"].value_counts()

15.3    2
25.9    2
11.1    2
36.2    2
17.3    2
       ..
23.4    1
19.7    1
12.6    1
18.1    1
22.4    1
Name: CigaretteSmokingPrevalence, Length: 89, dtype: int64

In [44]:
# Convert categorical data to numeric and separate target feature for training data
from sklearn.preprocessing import LabelEncoder, StandardScaler
x_train_d = pd.get_dummies(x_train)
#convert to array
y_train_l = LabelEncoder().fit_transform(train_df['CigaretteSmokingPrevalence'])
y_train_l

array([95, 17, 74, 76, 64, 78, 75, 45, 81, 70, 86, 57, 61, 83, 68, 51, 61,
       55, 66, 72, 56, 71, 52, 69, 23, 94, 89, 80, 38, 48, 15,  9, 14, 16,
       44, 23, 25, 16, 81, 69, 37, 30,  0, 30, 24, 18, 27, 84, 62,  7, 50,
       59, 33, 10, 82, 53, 73, 34, 46, 12, 42, 35, 63, 11, 43, 19, 10, 32,
        5, 85, 20, 10,  4,  1, 21, 23, 79, 41, 29, 58,  7, 57, 92, 40, 31,
        5, 93, 70, 28, 32,  6, 54, 87, 22, 20,  3, 60, 77,  8, 36, 19,  2,
       13, 49, 39, 90, 68, 15, 88, 91, 65, 75, 26, 65, 47, 86, 80, 78, 67],
      dtype=int64)

In [45]:
# Convert categorical data to numeric and separate target feature for testing data
x_test_d = pd.get_dummies(x_test)
#convert to array
y_test_l = LabelEncoder().fit_transform(test_df['CigaretteSmokingPrevalence'])
y_test_l

array([88, 14, 67, 65, 57, 69, 66, 36, 74, 63, 79, 48, 54, 75, 59, 45, 51,
       46, 60, 65, 47, 62, 42, 61, 24, 87, 82, 70, 32, 37, 11, 85,  6, 10,
       11, 38, 23, 22, 12, 71, 30, 33, 21, 20, 22, 77, 52,  4, 41, 49, 25,
        7, 76, 43, 64, 31, 35,  8, 39, 30, 53, 14, 78, 16,  8,  1,  0, 13,
       19, 73, 34, 26, 50,  5, 48, 84, 29, 56, 85, 62, 28,  3, 44, 81, 18,
       15, 55, 27, 17,  0,  9, 36,  2, 83, 58, 12, 80, 86, 54, 67, 24, 55,
        6, 40, 80, 72, 68, 61], dtype=int64)

In [46]:
# add missing dummy variables to testing set, Set default to 0
missing_d = set(x_train_d.columns) - set(x_test_d.columns)
for x in missing_d:
    x_test_d[x] = 0
x_test_d = x_test_d[x_train_d.columns]

In [47]:
x_test_d.head()

,Year,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigarettePrice,rates,MostSoldUSD,Location_Albania,Location_Algeria,Location_Andorra,Location_Argentina,...,MostSoldBrandCigaretteCurrency_RWF,MostSoldBrandCigaretteCurrency_SAR,MostSoldBrandCigaretteCurrency_SCR,MostSoldBrandCigaretteCurrency_SGD,MostSoldBrandCigaretteCurrency_SLL,MostSoldBrandCigaretteCurrency_SZL,MostSoldBrandCigaretteCurrency_USD,MostSoldBrandCigaretteCurrency_WST,MostSoldBrandCigaretteCurrency_XAF,MostSoldBrandCigaretteCurrency_XOF
0,2018,50.5,50.5,240.0,0.009610,2.306400,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018,14.5,18.8,300.0,0.007330,2.199000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018,33.8,33.8,3.6,1.168889,4.208000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,29.1,29.1,5.5,1.168889,6.428890,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018,25.0,25.0,6.6,1.168889,7.714667,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classify_lr = LogisticRegression()
# Use training data into model
classify_lr.fit(x_train_d, y_train_l)
#Print model score
print(f"Training Score: {classify_lr.score(x_train_d, y_train_l)}")
print(f"Testing Score: {classify_lr.score(x_test_d, y_test_l)}")

Training Score: 0.12605042016806722
Testing Score: 0.018518518518518517

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [49]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
classify_rf = RandomForestClassifier(random_state=1, n_estimators=100).fit(x_train_d, y_train_l)
print(f'Training Score: {classify_rf.score(x_train_d, y_train_l)}')
print(f'Testing Score: {classify_rf.score(x_test_d, y_test_l)}')

Training Score: 1.0
Testing Score: 0.009259259259259259

In [50]:
# Scale the data
scale = StandardScaler().fit(x_train_d)
#set variables to train and test scale
x_train_scale = scale.transform(x_train_d)
x_test_scale = scale.transform(x_test_d)

In [51]:
# Train the Logistic Regression model on the scaled data and print the model score
classify_lr = LogisticRegression().fit(x_train_scale, y_train_l)
print(f'Training Score: {classify_lr.score(x_train_scale, y_train_l)}')
print(f'Testing Score: {classify_lr.score(x_test_scale, y_test_l)}')

Training Score: 1.0
Testing Score: 0.009259259259259259

In [52]:
# Train a Random Forest Classifier model on the scaled data and print the model score
classify_rf = RandomForestClassifier(random_state=1, n_estimators=250).fit(x_train_scale, y_train_l)
print(f'Training Score: {classify_rf.score(x_train_scale, y_train_l)}')
print(f'Testing Score: {classify_rf.score(x_test_scale, y_test_l)}')

Training Score: 1.0
Testing Score: 0.009259259259259259